<div
  class="mx-auto my-auto w-1/3 p-5 gap-y-5 grid grid-col-1 ssm:w-full xl:w-1/3"
>
  <div class="flex w-full divide-x divide-black-800 row">
    <button
      class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-purple-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none block w-full rounded-r-none border-r-0"
      type="button"
      (click)="toggleCalculator('percentage')"
    >
      Use Percentage
    </button>
    <button
      class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-purple-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none block w-full rounded-l-none"
      type="button"
      (click)="toggleCalculator('amount')"
    >
      Use Amount
    </button>
  </div>
</div>
@if(calculateByAmount){
<app-budget-by-amount></app-budget-by-amount>
} @else if(calculateByPercentage){
<app-budget-by-percentage></app-budget-by-percentage>
}
